/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

.container {
  position: relative;
  width: 90%;
  height: 100%;
}

.game {
  position: relative;
  width: 1000px;
  height: 1000px;
  border: 1px solid black;
  background-image: url('assets/bg.jpg');
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.asteroid {

}

.player {
  position: absolute;
  cursor: pointer;
}
